body {margin:0;font-family:Arial;overflow-x:hidden;}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto" , sans-serif;
}

html{
  scroll-behavior: smooth;
}

 

  /* img main*/
.responsive {
  width: 100%;
  max-width: auto;
  height: auto;
  width:1560;
   height:500;
}

/* for main heading*/
.title-main3{
  font-size:36px;
   text-align: center;
    margin-top:40px;
}

.container {
  display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

}
#container {
  display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

/* border for title */
 .line {
  width: 62px;
  height: 1px;
  background-color: #CCCCCC;
  margin-right: 10px;
  margin-left: 10px;
}
.underline-design {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faqsubpart1{
  text-align:center; 
  font-size: 18px;
  line-height:22px;
  
}
.faqsubpart{
  text-align:center; 
  font-size: 18px;
  line-height:22px;
  margin-top: 39px;
}
/* for content*/
#customerfaq{
  width:946px;
}
#spfaq{
  width:946px;
  display:none;
}
.wrapping{
  display: flex;
  flex-direction:column;
   flex-wrap:nowrap;
   width:100%;
   margin-bottom:15px;

}
.loc{
  font-weight: bold;
  font-size: 16px;
  margin-left:10px;
  margin-bottom:0px;
  
}
.loc11{
  font-size: 16px;
  margin-left:30px;
}
 
/* end */
/*get newsletter */
.email{
  background-color:#f4f5f8; 
  border-radius: 50px;
   width: 233px; 
  height: 30px;
   border:solid 1px #565656;
  }
  .submitb{
    background-color: #ff7b6d;
    color: white !important;
     border-radius: 50px;
      width: 88px; 
      height: 30px;
       border:0;
  }
  .title-main{
    font-size: 20px !important;
  }
  .title-main2{
    font-size:18px;
     text-align: center;
     margin-top: 30px;
  }
/* two tabs */
 #menu ul li.selected {
  background-color:#1d7a8c;
  color:white;  
} 

#tabination{
  width:946px;
  margin: 0 auto;
  
}
#tabination li{
  width:50%;
  line-height:66px;
  text-align:center;
  border-bottom:3px solid #1d7a8c;
  color:#646464;
  font-size:24px;
}
#mainfaq{
  margin:0 auto;
}
@media screen and (max-width:1026px) {
  #tabination,#customerfaq,#spfaq{
    width:80%;
  }
}
@media screen and (max-width:576px) {
  #tabination,#customerfaq,#spfaq{
    width:90%;
  }
  #tabination li{
    font-size:20px;
    line-height:60px;
  }
}
@media screen and (max-width:502px) {
  #tabination li{
    display:flex;
    justify-content:center;
    align-items:center;
    
  }
}

@media screen and (max-width:449px) {
  #menu a{
    width:310px;
    font-size: 19px;
  }
}
@media screen and (max-width:320px) {
  #menu a{
    width:220px;
    font-size: 15px;
  }
}
.Quelink{
  display:flex;
}

/*footer section*/
.footer-section {
  background-color: black;
  
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding-top: 2rem;
  margin: 0 120px;

}

.footer img {
  width: fit-content;
}

.social-icon {
  text-align: end;
}



.footer-nav a {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}

.footer-nav a:hover {
  color: yellow;
}

.fb-icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
  
}

.fb-icon:hover {
  color: blue;
  transition: all 0.2s;
}

.insta-icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
 
}

.insta-icon:hover {
  color: darkmagenta;
  transition: all 0.2s;
}

.privacy-policy-sec p {
  margin-bottom: 0 !important;
  font-size: 15px;
  align-items: center;
}

.privacy-policy-sec {
  background-color: #292929;
  color: white;
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ok {
  margin-left: auto;
  width: 99px;
  height: 40px;
  background-color: yellow;
  outline: none;
  border: none;
  border-radius: 25px;
}

@media screen and (max-width:941px) {
  .footer-logo{
    width:100% !important;
    text-align: center;
  } 
  .footer-nav {
    margin-top: 10px;
    align-items: center;
    margin:10px auto;
    
  }
}
@media screen and (max-width:530px) {
  .footer-logo{
    display: flex;
    flex-wrap: wrap;
    width:50% !important;
    align-items: center;
    justify-content: center;
  } 
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    margin:10px auto;
    
  }
  .privacy-policy-sec {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .btn-ok {
    width: 70px;
    height: 30px;
    margin-top: 10px;
  }
  .footer-logo{
    width:50% !important;
  }
  .abc{
    width:50px;
    justify-content: center;
  }
}




.white_logo_transparent_background-copy-3 {
  width: 106px;
  height: 78px;
  margin: 0 262px 26px 2px;
}
.line100{
  border-right:1px solid #e1e1e1!important;
  border-left:1px solid #e1e1e1!important;
  padding-left: 9px !important;
  padding-right:9px !important;
}
.d-b{
  display: none;
}

.notification {

  color: white;
  text-decoration: none;
/* padding: 15px 26px; */
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: #646464
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}