@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
h1, .h1 {
    font-size: 50px; font-weight: 500; color: #fff; line-height: 1.08; 
}
h2, .h2 {
     font-size: 40px; font-weight: 700; color: #4F4F4F; line-height: 1.2; 
}
h3, .h3 { 
    font-size: 30px; font-weight: 700; color: #565656; line-height: 1.2; 
}
/* p {
     font-size: 16px; font-weight: 400; color: #4F4F4F; line-height: 1.3; 
} */
.container {
     max-width: 1262px; padding: 0 50px; width: 100%; 
}
.line100{
    border-right:1px solid #e1e1e1!important;
    border-left:1px solid #e1e1e1!important;
    padding-left: 9px !important;
    padding-right:9px !important;
}



/* title section*/
#section-home{  display: flex;  justify-content: center; position: relative; }
#section-home {
    height: 119px;
    background-size: 100% 100%;
    background-color: #f9f9f9;
}
.title-main{
    font-size:30px;
     text-align: center;
      padding-top: 44px;
      color:#4f4f4f !important;
  }
  .title-main1{
    font-size:30px;
     text-align: center;
      
      color:#4f4f4f !important;
      font-weight: bold;
}
@media (max-width:343px) {
    .title-main{
        font-size:24px;
        
      }
      .title-main1{
        font-size:24px;
        
    }
}
.title-filter  {
    max-width: 85%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    display: inline-block;
    color: #646464;
} 
/* table section */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100% !important;
    border: 1px solid #ddd;
    table-layout: auto;
}
  
th, td {
    text-align: left;
    padding: 8px;

}

th{
    background-color:#e1e1e1 !important;
    color: #646464;
    font-size: 16px;
    border-bottom: 1px solid #e1e1e1 !important;
}

@media screen and (max-width:767px) {
    table{
        border:  1px solid white;
        width: 90% !important;
    }
    .current-services tr {
        display: block;
        box-shadow: 0 0 6px rgb(0 0 0 / 25%);
    }
.current-services tbody tr {
    margin-bottom: 35px;
}
.current-services tbody td+td {
    border-top: 1px solid #e1e1e1;
}
td{
    margin-left: 20px;
    margin-right: 20px;
    display:block !important;
}
/*.abc{
    display: flex;
}*/
table.dataTable td{
    display:block !important;
}
.current-services tbody td {
    display: block!important;
    padding: 15px 0!important;
}

.buttoncancel , .buttonaccept{
    text-align: center;
}
th{
    display: none;
}
  
}


/*footer section*/
.footer-section {
    background-color: black;
    width: 100%;
}
  
.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    margin: 0 120px;
}
.footer img {
    width: fit-content;
}
.social-icon {
    text-align: end;
}
.footer-nav a {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}
.footer-nav a:hover {
    color: yellow;
}
.fb-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.fb-icon:hover {
    color: blue;
    transition: all 0.2s;
}
.insta-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.insta-icon:hover {
    color: darkmagenta;
    transition: all 0.2s;
}
.privacy-policy-sec p {
    margin-bottom: 0 !important;
    font-size: 15px;
    align-items: center;
}
.privacy-policy-sec {
    background-color: #292929;
    color: white;
    padding: 0.5rem 0 0.5rem 0;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-ok {
    margin-left: auto;
    width: 99px;
    height: 40px;
    background-color: yellow;
    outline: none;
    border: none;
    border-radius: 25px;
}
@media screen and (max-width:941px) {
    .footer-logo{
      width:100% !important;
      text-align: center;
    } 
    .footer-nav {
      margin-top: 10px;
      align-items: center;
      margin:10px auto;
      
    }
}
@media screen and (max-width:530px) {
    .footer-logo{
      display: flex;
      flex-wrap: wrap;
      width:50% !important;
      align-items: center;
      justify-content: center;
    } 
    .footer-nav {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      align-items: center;
      margin:10px auto;
      
    }
    .privacy-policy-sec {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
    }
    .btn-ok {
      width: 70px;
      height: 30px;
      margin-top: 10px;
    }
    .footer-logo{
      width:50% !important;
    }
}


.header-image{
    background: none;
    background-color: #F9F9F9;
    height: 120px;
    text-align: center;
    font-size: 30px;
    line-height: 120px;    
}

@media screen and (max-width:415px) {
    .header-image{
        display: block;
    }
}

/* tabs with content */

#tab-section{
    padding: 31px 0;
    width:85%;
    margin: 0 auto;
}
.div-main{
    height:80%;
}
.div-tab{
    /* height:auto; */
    /* margin-bottom: 200px; */
    width: 262px;
    margin-right: 31px;
    float: left;
    background-color: #1d7a8c;
}
.div-tab a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 17px 15px;
    font-size: 18px;
    line-height: 20px;
    border-bottom: 1px solid white;
    color: white;
}
.div-tab .active{
    background-color: #146371;
}
.divContent{
    overflow-x: hidden;
    /* overflow: auto; */
}
#exampleModalnavbartoggle .tab a:hover{
    color: #1d7a8c;
}
.buttonaccept button{
    width: 80px;
    font-size: 16px;
    background-color: #146371;;
    color: white;
    border-radius: 17px;
    padding: 7px 10px;

    box-shadow: none;
    border: none;
    margin-top: 8px;
    margin-bottom: 20px;
}
.buttoncancel button{
    width: 80px;
    font-size: 16px;
    background-color: #ff6b6b;
    color: white;
    border-radius: 17px;
    padding: 5px 10px;
    box-shadow: none;
    border: none;
    margin-top: 8px;
}
@media screen and (max-width:991px) {
    #tab-section{
        padding: 30px 0;
        width: 90%;
        margin: 0 auto;
    }
   
    .divContent{
        margin-left: 0px;
        padding-left: 0px;
    }
    .div-main{
        height:100%;
    }
    .div-tab{
        display: none;
    }
}
@media screen and (max-width:1300px) {
    #tab-section{
    
        width: 95%;
    }
}
/* Modal for cancel service and Accept servicerequest */
.modal-section-map iframe{
    height: 100%;
    width: 100%;
}
.modal-section-body div p{
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 18px;
}
.modal-section-body .m-time{
    font-size: 26px;
}
.modal-section-body .fa-times-circle-o{
    color: rgb(255, 0, 0);
}
.modal-button{
    padding-top: 7px;
}
.modal-button button{
    width: 130px;
    border-radius: 25px;
    padding: 8px 10px; 
    color: white;
    border: none;
}
.modal-button button i{
    margin-right: 5px;
}
.modal-button-cancel{
   background-color: #ff6b6b; 
}
.modal-button-Accept{
    background-color:green;
}
.modal-button-complete{
    background-color: #348588;
}

.modal-section-body .m-currency{
    font-size: 32px;
    color: #348588;
    font-weight: 700;
}
.modal-section-body hr{
    margin: 6px 0;
}
.m-head{
    font-weight: 500;
}

#ServiceCancelModal .modal-content,#ServiceAcceptModal .modal-content{
    width: 1000px;
}
#ServiceCancelModal .modal-dialog,#ServiceAcceptModal .modal-dialog{
    max-width: 1000px;
}
#ServiceCancelModal .modal-header,#ServiceAcceptModal .modal-header {
    border-bottom: 0;
}
.cancel{
    width:80px;
    font-size: 16px;
    background-color: #ff6b6b;
    color: white;
    border-radius: 17px;
    padding: 5px 10px;
    box-shadow: none;
    border: none;
    margin-top: 10px;
    
}
.m-20{
    margin-bottom: 10px !important;
    /* margin-top: 10px; */

}
.td-rating {
    display: flex;
    align-items: center;
}
.td-rating .rating-user {
    border: 1px solid  #AAAAAA;
    opacity: 1;
    border-radius: 50%;
    padding: 10px 5px 10px 5px;
    text-align: center;
}
.fa-star{
    color: rgb(156, 156, 6);
}
/* for my settings */
 select {
    width: auto;
   
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
.Reschedule{
    width: 100px;
    font-size: 16px;
    background-color: #146371;
    color: white;
    border-radius: 17px;
    padding: 5px 10px;
    box-shadow: none;
    border: none;
    margin-top: 10px;
}

.columnAvatar {
    float: left;
    cursor: pointer;
    padding: 5px;
}
.columnAvatar .avatar {
    height: 85px;
    border-radius: 85px;
}
.avatar:hover{
    border:2px solid #1d7a8c;
}

/* complete */

/* #newservicerequests{
    display: none;
}  */
#newservicerequests,#upcomingservice,#myratings,#serviceschedule,#servicehistory,#bookcustomer,#mySettings{
    display: none;
}
 /* for pagination */
 .dataTables_wrapper .dataTables_paginate .paginate_button{
    color: #777777 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: #146371 !important;
    color:white !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color:white !important;
  }
  .current{
    background: #146371 !important;
    color:#AAAAAA !important;
  }

.paginate_button{
    padding: 8px 15px!important;
    border: 1px solid #AAAAAA!important;
    border-radius: 50%!important;
    margin: 0 2.5px;
    color: #777777!important;
}
#mytable_length label{
    margin-top: 15px;
}

#mytable_length label select{
    margin: 0 5px;
}

#mytable_info{
    margin-top: 7px;
    margin-left: 7px;
}
#mytable1_length label{
    margin-top: 15px;
}

#mytable1_length label select{
    margin: 0 5px;
}

#mytable1_info{
    margin-top: 7px;
    margin-left: 7px;
}
#mytable2_length label{
    margin-top: 15px;
}

#mytable2_length label select{
    margin: 0 5px;
}

#mytable2_info{
    margin-top: 7px;
    margin-left: 7px;
}
#mytable3_length label{
    margin-top: 15px;
}

#mytable3_length label select{
    margin: 0 5px;
}

#mytable3_info{
    margin-top: 7px;
    margin-left: 7px;
}
#mytable4_length label{
    margin-top: 15px;
}

#mytable4_length label select{
    margin: 0 5px;
}

#mytable4_info{
    margin-top: 7px;
    margin-left: 7px;
}

#nav-contact{
    display: none;
}
#menu ul li.selected {
    color:#1d7a8c;  
    border-bottom: 3px solid #1d7a8c; 
} 
#menu ul li:hover{
    color: #1d7a8c;
    border-bottom: 3px solid #1d7a8c; 
} 
#tabination li{
    width:50%;
    line-height:50px;
    text-align:center;
    color:black;
    font-size:20px;
}
@media screen and (max-width:502px) {
    #tabination li{
      display:flex;
      justify-content:center;
      align-items:center;
      
    }
}
@media screen and (max-width:372px) {
        #tabination li{
           line-height:40px;
            text-align:center;
            color:black;
            font-size:15px;
        }
}

#mySettings{
    overflow-x: hidden;
}
#checkboxchecked{
    display: none;
}
.shape-rounded{
    width: 108px;
    height: 108px;
    border-radius: 50%;
    border:#b0c9ce 1px solid;
    display: flex;
     justify-content: center;
    align-items: center; 
     margin-right: 20px;
}
#custom-checkboxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 25px;
    /* border-bottom: 1px solid #e1e1e1; */
}
#custom-checkboxes .radio{
    width: 108px;
    text-align: center;
    margin: 0 15px;
}

#custom-checkboxes .radio label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 108px;
    /* border: 1px solid #C8C8C8; */
    /* border-radius: 50%; */
    position: relative;
    cursor: pointer;
}

 #custom-checkboxes .radio label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid #1d7a8c;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  } 

 input[type=radio].htmlcheckbox{
    display: none;
} 

.check :checked + label {
    border: 3px solid #1d7a8c!important;
    border-radius: 50%;
}
  
/* .check :checked + label:before {
 content: "✓";
background-color: #1d7a8c;
transform: scale(1);
}  */
  
/* .check :checked + label img {
    transform: scale(0.9);
     box-shadow: 0 0 5px #333; 
    z-index: -1;
} */
.d-flex{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.pa{
    position: absolute;
    top:-100%;
    right: 10%;
}
.m-201{
    margin-bottom: 10px !important;
    margin-top: 10px;

}

#thead{
    display: none;
}
table.dataTable.no-footer {
     border-bottom: 1px solid #e1e1e1; 
}

#mytable4 p{
    margin:0;
}

#mytable4{
    border-collapse: separate;
    border-spacing:  0 15px !important;
    border: 0;
    padding: 3px;
}

#mytable4 tr{
    outline: 1px solid #e1e1e1;
    border-radius: 4px;
}

#mytable4 td{
    float: left;
    padding: 15px 1.5%;
}

#mytable4 td:nth-child(3){
    float: right;
}

#mytable4 td:last-child{
    border-top: 1px solid #e1e1e1;
    display: block;
    width: 95%;
    margin: 0 2.5%;
    padding-left: 0;
}

@media screen and (max-width: 600px) {

    #mytable4 td{
        float: none!important;
        display: block;
    }
}

.blockcustmer{
    display: flex !important;
    flex-wrap: wrap;
}
.add-button1{
    
    width: auto;
    float: right;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #146371;
    color: white;
    border-radius: 17px;
    padding: 5px 10px;
    box-shadow: none;
    border: none;
    text-decoration: none !important;
    /* margin-top: 10px; */
}